*{
	padding: 0;
	margin: 0 ; 

}
	.crossed-out{
		text-decoration: line-through;
	}
	body{
		background-color: wheat;
	}
	.title{
		margin: 20px;
		text-align: center;

	}

	#container {
		padding:50px;

		display: flex;
		flex-direction: column;
		text-align: left;

	}
