
layout {
  pane split_direction="horizontal" {
    pane name="frontend" {
      command "pnpm"
      args "run" "dev"
      cwd "./frontend"
    }

    pane name="backend" {
      command "pnpm"
      args "run" "dev"
      cwd "./backend"
    }

  }
}
