.itemName {
    font-weight: bold;
    padding: 2px;
    flex: 1;
}

.itemName > span {
    cursor: pointer;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    padding: 10px;
    gap: 10px;
}

.line {
    border: 1px solid #bbeace;
    margin: 0 10px;
}

.deleteButton,
.editButton {
    padding: 8px;
    border: none;
    background-color: #3f7d58;
    color: #bbeace;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deleteButton:hover,
.editButton:hover {
    background-color: #33664a;
}

.completed {
    text-decoration: line-through;
    color: #888;
}

input[type="text"] {
    padding: 4px 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
}
