<%- include('components/header.ejs')  %>

<h1>Welcome to home page</h1>
<label >List of products </label>




<ul>
  <% products.forEach(product => { %>
      <li> <%= product.name %> </li>
  <%  }); %>
</ul>

